/tutoring/node_modules
/tutoring/.DS_Store
/tutoring/list


# local env files
/tutoring/.env.local
/tutoring/.env.*.local

# Log files
/tutoring/npm-debug.log*
/tutoring/yarn-debug.log*
/tutoring/yarn-error.log*
/tutoring/pnpm-debug.log*

# Editor directories and files
/tutoring/.idea
/tutoring/.vscode
/tutoring/*.suo
/tutoring/*.ntvs*
/tutoring/*.njsproj
/tutoring/*.sln
/tutoring/*.sw?