* {
    font-size: 18px;
}

body {
    background: rgb(255,209,0);
    background: radial-gradient(circle, rgba(255,209,0,1) 0%, rgba(121,76,9,1) 69%, rgba(36,24,0,1) 100%);
}

h1 {
    color: white;
}

h2 {
    font-size: 24px;
}

.lesson1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eating-table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.eating-table input {
    border: none;
    width: 100%;
    
}

.important {
    color: white;
    font-size: 22px;
}

b {
    font-size: 22px;
}

/* drag and drop */
.ru-text__item {
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box__item {
    width: 140px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(127, 225, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.result__line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.result__item {
    width: 150px;
    height: 60px;
    border: 2px dashed rgb(184, 181, 181);
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.is-dragged-over {
    background-color:rgb(184, 181, 181, 0.5);
}

.is-dropped {
    opacity: 0.7;
}

.right {
    background-color: aquamarine;
}

.wrong {
    background-color: rgb(231 143 102);
}

:disabled {
    opacity: 0.6;
}


.d-none {
    display: none;
}

.right {
    box-shadow: 10px 0px 10px 0px rgba(0, 119, 5, 0.75), -10px 0px 10px 0px rgba(0, 119, 5, 0.75);
}

.wrong {
    box-shadow: 10px 0px 10px 0px rgba(245, 60, 4, 0.75), -10px 0px 10px 0px rgba(245, 60, 4, 0.75);
}